body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: #849D8F;
  color:#ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

fieldset {
  border: none;
  padding: 0;
}

/* Cтили текста */

h2 {
  font-size: 35px;
  font-weight: 700;
  line-height:1.17;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.375;
}

h4 {
  font-weight: 700;
  font-size: 1.25;
  color: #323232;
  text-align: left;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  text-align: left;
  color: #323232;
}

.text {
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  color:#323232;
}

.text-dropdown{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.846;
  text-align: left;
  color:#323232
}

.text-dropdown-ref {
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.143;
}

.main-menu-links {
  padding-left:14px;
  padding-right:14px;
  padding-top:9px;
  font-size: 16px;
  font-weight: 700;
  height: 23px;

}

.main-menu-links:link,
.main-menu-links:visited {
  padding-left:14px;
  padding-right:14px;
  color: #ffffff;
  text-decoration:underline;
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.main-menu-links:hover {
  border-radius: 16px;
  background-color: #f7f6f3;
  color: #333333;
  text-decoration:none;
}

.main-menu-links:active {
  border-radius: 16px;
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  color: #333333;
  text-decoration:none;
}

.dropdown-navigation {
  margin: 0px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left:0;
  width: 144px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  top:28px;
  display:none;
}

.button-catalog:hover .dropdown-navigation {
  display:block;
}

.button-catalog{
  position: relative;
}

.dropdown-navigation ul{
  list-style: none;
  margin:0px;
  padding:0px;
}

.dropdown-navigation .dropdown-list {
  padding-left: 14px;
  width: 130px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  height: 32px;
}

.dropdown-navigation .dropdown-list:link,
 .dropdown-navigation .dropdown-list:visited
 {
  line-height: 30px;
  color: #323232;
}

.dropdown-navigation .dropdown-list:hover {
  line-height: 30px;
  color: #323232;
  background-color: #fbded7;
}

.dropdown-navigation .dropdown-list:active {
  line-height: 30px;
  color: #ffffff;
  background-color: #f6b5a5;
}

.catalog-item .title-white{
  margin-top: -40px;
}

.catalog-item a {
  font-size: 16px;
  line-height: 1.375;
  font-weight: 500;
  text-align: center;
}

.catalog-item a:link,
.catalog-item a:visited,
.catalog-item a:hover,
.catalog-item a:active {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.time {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.phone {
  margin-top: 4px;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}

.cost {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-weight {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.footer {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.vidgets p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
  color: #ffffff;
}

.vidget-blog a {
  font-size: 24px;
  color: #323232;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  text-decoration: underline;
}

.vidget-blog a:hover,
.vidget-blog a:active {
  text-decoration: none;
}


.vidget h2{
  margin:0;
}
.vidget .title-white {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
  margin-top: 20;
}

.vidget-subscription .text {
  margin-top: 9px;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
}

.popup .title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
  margin: 0;
}


.popup input[type=text],
.popup input[type=email],
.popup textarea {
  margin-bottom: 20px;
  color: #999999;
}

.popup textarea {
  width:100%;
  height:155px;
  margin-right: 0;
  padding-top: 9px;
}

.footer-info .footer-link {
  font-size: 12px;
}
.footer-link {
  font-size: 13px;
  line-height: 1.385;
  font-weight: 400;
}
.footer-link:link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.footer-text {
  font-size: 12px;
  line-height: 1.385;
  font-weight: 400;
  color: #ffffff;
}
/* Блоки, виджеты*/

.dropdown-search {
  width: 314px;
  height: 62px;
  margin-top: 11px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  top:30px;
  right:10px;

}

.seacrh:hover .dropdown-search{
  display: block;
}

.seacrh {
  position: relative;
}

.dropdown-login {
  width: 250px;
  min-height: 201px;
  margin-top: 10px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  display: none;
  position: absolute;
  right:10px;
}

.login:hover .dropdown-login{
  display: block;
}
.login {
  position: relative;
}

.login input[type=email],
.login input[type=password] {
  margin-bottom: 20px;
}

.login-links{
  display: inline-block;
  width:120px;
  position:relative;
  top:8px;
  left: 20px;
}

.dropdown-login a {
  border-bottom: 1px solid;
  border-bottom-color: rgba(51, 51, 51, 0.3);
}

.dropdown-login a:hover {
  border-bottom: none;
}

.dropdown-basket {
  width: 540px;
  min-height: 243px;
  margin-top: 10px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  position: absolute;
  display: none;
  right:10px;

}

.basket-row img  {
  border-radius: 18px;
}

.slide {
  padding: 0;
  margin: 0 auto;
  margin-top: -115px;
  width: 1146px;
  left: 27px;
  height: 916px;
  background: url("../img/bg-slider.jpg") no-repeat #849d8f;
  text-align: center;
}

.title-slide {
  margin: auto;
  margin-left: 250px;
  padding-top: 395px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height:1;
  color: #ffffff;
  text-align: center;
  width: 700px;
}

.vidget-raspberry .button-small{
  position: absolute;
  bottom: 22px;
  right: 20px;
}

.vidget-chocolate .button-small{
  position: absolute;
  bottom: 22px;
  right: 20px;
}

.vidget-raspberry {
  width: 520px;
  min-height: 189px;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 13px;
  background: url("../img/bg-rasberry.jpg") no-repeat #872944;
  position: relative;
}


.vidget-chocolate {
  width: 520px;
  min-height: 189px;
  padding-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 13px;
  background: url("../img/bg-chokolate.jpg") no-repeat #53302a;
  position: relative;
}

.vidget-about {
  width: 1110px;
  padding-left: 20px;
  padding-right: 17px;
  padding-bottom: 0px;
  padding-top: 23px;
  border-radius: 13px;
  background: url("../img/wafel-bg.png") #e9dec6;
}

.vidget-about .title{
  font-size: 24px;
  line-height: 1.25;
  margin:0px;
  padding:0px;
}

.vidget-about ul{
  margin: 0px;
  padding: 0px;
}

.vidget-about li{
  font-size: 16px;
  line-height: 1.375;
  margin-bottom: 14px;
  padding-top: 17px;
}


.vidget-blog .text{
  font-size: 16px;
  line-height: 1.375px;
  margin-top: 15px;
}

.vidget-blog-title{
  width:310px;
  margin-top: 5px;
}
.vidget-blog {
  width: 540px;
  height: 195px;
  padding-left: 20px;
  padding-top: 25px;
  border-radius: 13px;
  background-position: left 100px;
  background-image: url("../img/bg-blog.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: right bottom;
}

.vidget-subscription-border{
  margin-right: 0px;
  width: 550px;
  height: 210px;
  padding: 5px;
  border-radius: 15px;
  background-image: url("../img/border-mail.svg");
}

.subscription-button {
  position:absolute;
  bottom:33px;
  right:0;
  margin-right: 20px;
}


.vidget-subscription {
  position: relative;
  width: 510px;
  height:170px;
  padding: 20px;
  background: #f8f7f4;
  border-radius: 10px
}
.vidget-subscription input[type=email]{
  border-radius: 4px;
  height: 42px;
  width: 352px;
  margin-top: 19px;
  margin-left: 10px;

}

.popup {
  width: 412px;
  min-height: 442px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  padding-left: 15px;
  padding-right: 31px;
  padding-top: 10px;
  padding-bottom: 20px;
  display: none;
}


/* Кнопки */

.button-search {
  font: inherit;
  height: 32px;
  width: 32px;
  background-size: 17px 17px;
  background-position: center;
  border: 0px;
  border-radius: 16px;
  padding-top:6px;
  padding-bottom:6px;
  padding-left: 10px;
  margin-right: 10px;
  background-color: rgba(248, 247, 244, 0.2);
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  background-image: url("../img/search-link.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.button-search:link,
.button-search:visited {
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;

}

.button-search:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.button-search:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/search-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.search:hover .dropdown-search{
  display: block;
}
.search {
  position: relative;
}
.button-login {
  font: inherit;
  height: 32px;
  border: 0px;
  border-radius: 16px;
  padding-top:6px;
  padding-bottom:6px;
  padding-right: 14px;
  padding-left: 34px;
  margin-right: 10px;
  background-size: 17px 17px;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("../img/login-link.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  }

.button-login:link,
.button-login:visited {
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;

}

.button-login:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
}

.button-login:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/login-hover.svg");
  background-repeat: no-repeat;
}

.button-basket {
  font: inherit;
  height: 32px;
  border: 0px;
  border-radius: 16px;
  padding-top:6px;
  padding-bottom:6px;
  padding-right: 14px;
  padding-left: 34px;
  margin-right: 0px;
  background-size: 17px 17px;
  background-color: rgba(248, 247, 244, 0.2);
  background-image: url("../img/basket.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
  position: relative;
  }

.button-basket:link,
.button-basket:visited {
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;

}

.button-basket:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
}

.button-basket:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(248, 247, 244, 1);
  color: #333333;
  background-image: url("../img/basket-red.svg");
  background-repeat: no-repeat;
}

.basket{
  position: relative;
}

.basket:hover .dropdown-basket {
  display: block;
}
.button-small {
  font: inherit;
  height: 46px;
  border: 0px;
  border-radius: 23px;
  padding-left:20px;
  padding-right:20px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}



.header-button:link,
.header-button:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.button-small:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
}

.button-small:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}

.slide .button-big{
  text-align: center;
  margin-left: 50px;
}
.button-big {
  font: inherit;
  height: 64px;
  border: 0px;
  border-radius: 62px;
  padding-left:42px;
  padding-right:42px;
  padding-top:14px;
  padding-bottom:14px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  font-size: 31px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  }

.button-big:link,
.button-big:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  }

.button-big:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  }



.button-big:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  }

.basket-delete {
  background: url("../img/cross-small.svg") no-repeat rgba(255,255,255,0);
  width: 9px;
  height: 11px;
  border: 0;
}

footer {
   width: auto;
   height: 100px;
 }

 .map .vidget-contacts {
   width: 250px;
   min-height:242px;
   padding-left: 26px;
   padding-right:26px;
   padding-top: 30px;
   padding-bottom: 30px;
   background-color: #ffffff;
   border-radius: 13px;
   position: absolute;
   margin-top: 62px;
   right:0px;

 }

.vidget-contacts .title-small {
  margin: 0px;
  width:175px;
  font-size: 14px;
  line-height: 1.428;
  text-align: left;
  font-weight: 400;
  color:#333333;
}

.vidget-contacts .subtitle {
  margin: 0;
  font-size: 18px;
  color: #323232;
  font-weight: 700;
  line-height: 1.333;
  text-align: left;
}

.vidget-contacts .address {
  margin-top: 5px;
  margin-bottom: 20px;
}

.vidget-contacts .phone {
  margin-top: 5px;
}


.vidget-contacts .button-small {
  margin-top: 25px;
  width:100%;
}

.social img {
  opacity: 0.8;
  border: solid;
  border-radius: 18px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.5);
}


.footer-nav {
  margin:0px;
  padding: 0px;
}
.footer-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-link:link,
.footer-link:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.footer-link:hover {
  color: #ffbc9e;
  border-bottom: none;
}

.footer-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}

/* Поля и другие UI */
.dots-navigation
{
  text-align: left;
  margin-left: 27px;
  position: relative;
  top:-45px;
}

.dots-navigation button {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
  margin-right: 7px;
}

.dots-navigation button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #ffffff;
}

.dots-navigation button:active {
  background-color: #ffffff;
  border-color: #ffffff;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  height: 32px;
  padding-left: 14px;
  font-size: 14px;
}

  textarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-left: 14px;
  font-size: 14px;
  color: #999999;
}

/* Страница каталога */
.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  position: absolute;
  top:-20px;
}

.breadcrumbs a{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-bottom: none;
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}

.breadcrumbs-arrow {
  padding-left: 8px;
  padding-right: 8px;
}

.catalog-title {
  margin-left: 0px;
  margin-top: 5px;
  text-align: left;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.171;
}


.select-wrapper,
.range-wrapper,
.radio-wrapper,
.checkbox-wrapper,
.button-filter-wrapper {
  display: inline-block;
  margin-right: 12px;
  margin-bottom: 12px;
}

.filters legend {
  padding-left: 16px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}
/* почему-то не применяется margin:0*/
.select{
  margin: 0px;
}
select {
  width: 194px;
  height: 36px;
  border: none;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 10px;
}

select:hover {
  width: 194px;
  height: 36px;
  border-radius: 20px;
  background-color: #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #333333;
  padding-left: 10px;
}

select option {
  color: #333333;
}

.range-conteiner {
  width: 220px;
  height: 36px;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-element {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-color: #f8f7f4;
  display: inline-block;
}

.range-line {
    width: 176px;
    height: 4px;
    background-color: #ffffff;
}

.radio-conteiner{
  width: 415px;
  height: 28px;
  padding-left: 10px;
  padding-top:8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.checkbox-conteiner{
  width: 702px;
  height: 28px;
  padding-left: 10px;
  padding-top:8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-filter{
  height: 38px;
  border: none;
  border-radius: 20px;
  padding-left:30px;
  padding-right:30px;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px 0px 0px 2px rgba(255, 255, 255, 1);
  color:#ffffff;
}

.button-filter:hover {
  height: 38px;
  border: none;
  padding-left:30px;
  padding-right:30px;
  background-color: #f8f7f4;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #333333;
  }

.button-filter:active {
   background-color: #eaeaea;
   box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
   color: #333333;
}

  .paginator .page-2,
  .paginator .page-3,
  .paginator .page-4,
  .paginator .page-5 {
    display: inline-block;
    width: 26px;
    height: 22px;
    padding-top:4px;
    font-weight: 400;
    text-align: center;
    margin-left: 6px;
  }
  .paginator .page-2:link,
  .paginator .page-3:link,
  .paginator .page-4:link,
  .paginator .page-5:link,
  .paginator .page-2:visited,
  .paginator .page-3:visited,
  .paginator .page-4:visited,
  .paginator .page-5:visited {
   color: #ffffff;
}

.paginator .page-2:active,
.paginator .page-3:active,
.paginator .page-4:active,
.paginator .page-5:active {
  border-radius: 14px;
  background-color: #ffffff;
  color: #333333;
}

.paginator .page-2:hover,
.paginator .page-3:hover,
.paginator .page-4:hover,
.paginator .page-5:hover {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.first-page {
  display: inline-block;
  width: 26px;
  height: 22px;
  padding-top:4px;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  margin-left: 16px;
}

.paginator .arrow-left,
.paginator .arrow-right {
  margin-top: 5px;
}
.paginator .page-5 {
  margin-right: 16px;
}
/* сетка*/

/*.main-header-container {
  width: 1200px;
  margin: 0 auto;
  margin-left:27px;
  margin-right: 27px;*
}*/

.container{
  width: 1146px;
  margin: 0 auto;
}

.main-header-wrapper {
  width:100%;
  display:flex;
  flex-wrap: wrap;
}

.logo {
  width:154px;
  height: 64px;
  margin-right:10px;
  padding-top:9px;
}

.main-menu {
  width:714px;
  display:flex;
  align-items:center;
}

.user-navigation {
  width:267px;
  display:flex;
  align-items:center;
  justify-content: flex-end;
}

.basket-row {
  width:100%;
  display:flex;
  align-items: center;
}

.basket-row p{
  width:240px;
  line-height: 1.23;
}

.header-contacts {
  margin-top: 0px;
  width:1146px;
  height: 40px;
}

main .container{
  position: relative;
}

.vidget {
  min-height: 230px;
  width:100%;
  display:flex;
  justify-content: space-between;

  margin-top:-268px;
}

.catalog {
  margin-top: 20px;
  min-height: 322px;
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
}

.cost-wrapper,
.cost-wrapper-index{
  position: relative;
  text-align: left;
  top:-60px;
  position: relative;
}

.cost-wrapper-index::before{
  content: "";
  width: 61px;
  height:61px;
  background-image: url("../img/hit.svg");
  position: absolute;
  bottom:195px;
}
  .catalog-item {
  min-height: 322px;
  width:267px;
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.catalog-item:hover {

}

.vidget-about {
  margin-top: 18px;
  padding-bottom: 10px;

}

.vidget-about ul{
  width:1110px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.vidget-about .text-wrapper{
  width:490px;
  margin-left: 58px;
  margin-top: 5px;
  position: relative;
}

.vidgets {
  width: 1146px;
  height: 220px;
  margin-top: 40px;
  display:flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.vidget-about .apnx-1,
.vidget-about .apnx-3 {
  margin-bottom: 5px;
}

.vidget-about .apnx-3,
.vidget-about .apnx-4 {
  margin-left: 20px;
}

.vidget-about .apnx-1::before{
  content: "";
  width:49px;
  height: 49px;
  background-image: url("../img/ice-cream.svg");
  position: absolute;
  left:-58px;
  top:5px;
}

.vidget-about .apnx-2::before{
  content: "";
  width:49px;
  height: 49px;
  background-image: url("../img/eco.svg");
  position: absolute;
  left:-58px;
  top:90px;
}

.vidget-about .apnx-3::before{
  content: "";
  width:49px;
  height: 49px;
  background-image: url("../img/cow.svg");
  position: absolute;
  left:-40px;
  top:5px;
}

.vidget-about .apnx-4::before{
  content: "";
  width:49px;
  height: 49px;
  background-image: url("../img/thermometer.svg");
  position: absolute;
  left:-40px;
  top:90px;
}

.subscription-wrapper {
  width:506px;
  height: 46px;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.subscription-wrapper .textfield {
  width:370px;
  margin-left: -10px;
}



.map {
  width: 100%;
  margin-top:40px;
  background-color: red;
  min-height: 430px;
  position: absolute;
  background-image: url("../img/map.jpg");
  background-position: 50% 50%;
  right:0;
}

.map .contact-wrapper {
  width: 1200px;
  margin: auto;
  position: relative;
  right: 27px;
}

.map .vidget-contacts::before {
  content: "";
  width:80px;
  height:140px;
  background-image: url("../img/pin.svg");
  position: absolute;
  left: -605px;
  top:75px;
}

.footer-container {
  width: 1146px;
  margin: 0 auto;
  /*margin-left: 27px;
  margin-right: 27px;*/
  position: relative;
  top: 470px;
}
.main-footer {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.social{
 justify-content:flex-start;
 margin-top: 12px;
}

.social a {
  margin-right: 8px;

}

.footer-nav {
  width: 640px;
  padding-left: 18px;
  display: flex;
  justify-content:center;
  height: 37px;
  position: relative;
}

.footer-nav .footer-favorite::before {
  content: '';
  width: 15px;
  height: 13px;
  background-image: url("../img/heart.svg");
  position: absolute;
  top: 5px;
  left: -20px;
}

.apdx-wrapper {
  margin-left: 30px;
  line-height: 22px;
  position: relative;
}

.footer-info {
  width: 190px;
  justify-content: flex-end;
  padding-left: 30px;
}

.footer-info p{
  margin: 0px;
  padding: 0px;
  width: 190px;
}


/*сетка каталога*/

.paginator {
  display: flex;
  justify-content: flex-end;
  margin-right: 27px;
}

.footer-container-catalog {
  width: 1146px;
  margin: 0 auto;
  position: relative;
  top: 40px;
