body {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: #849D8F;
  color:#ffffff;
}

a {
  text-decoration: none;
}

ul {
  list-style-type:none;
}

fieldset {
  border: none;
}


/* Cтили текста */



h2 {
  font-size: 35px;
  font-weight: 700;
  line-height:1.17;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.375;
}

h4 {
  font-weight: 700;
  font-size: 1.25;
  color: #323232;
  text-align: left;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  text-align: left;
  color: #323232;
}

.text {
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  color:#323232;
}

.text-dropdown{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  color:#323232
}


.text-dropdown-ref {
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.143;
}

.main-menu-links {
  display: inline-block;
  padding-left:14px;
  padding-right:14px;
  padding-top:9px;
  font-size: 14px;
  font-weight: 700;
  height: 23px;
  vertical-align: middle;
}


.main-menu-links:link,
.main-menu-links:visited {
  padding-left:14px;
  padding-right:14px;
  color: #ffffff;
  text-decoration:underline;
  text-underline-position: under;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.main-menu-links:hover {
  border-radius: 16px;
  background-color: #f7f6f3;
  color: #333333;
  text-decoration:none;
}

.main-menu-links:active {
  border-radius: 16px;
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  color: #333333;
  text-decoration:none;
}


.dropdown-navigation {
  margin: 0px;
  padding: 0px;
  list-style: none;
  width: 144px;
  height: 172px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-navigation .dropdown-list {
  padding-left: 14px;
  width: 130px;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-navigation .dropdown-list:link,
 .dropdown-navigation .dropdown-list:visited
 {
  line-height: 30px;
  color: #323232;
}

.dropdown-navigation .dropdown-list:hover {
  line-height: 30px;
  color: #323232;
  background-color: #fbded7;
}

.dropdown-navigation .dropdown-list:active {
  line-height: 30px;
  color: #323232;
  background-color: #f6b5a5;
}

.catalog-item a {
  font-weight: 500;
  text-align: center;
}

.catalog-item a:link,
.catalog-item  a:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}


.catalog-item  a:hover,
.catalog-item  a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}


.time {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: right;
}

.phone {
  margin-top: 4px;
  padding: 0;
  font-size: 22px;
  font-weight: 700;
  text-align: right;
}

.cost {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-weight {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.subtitle {
  font-size: 18px;
  color: #323232;
  font-weight: 400;
  line-height: 1.333;
  text-align: left;
}



.footer {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.vidgets p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
  color: #ffffff;
}


.vidget-blog a {
  font-size: 24px;
  color: #323232;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  text-decoration: underline;
}

.vidget-blog a:hover,
.vidget-blog a:active {
  text-decoration: none;
}

.vidget .title-white {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
}

.vidget-subscription .text {
  margin-top: 9px;
  color: #5a5a5a;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
}

.popup .title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}

.footer-link {
  font-size: 13px;
  line-height: 1.385;
  font-weight: 400;
}
.footer-link:link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.footer-text {
  font-size: 13px;
  line-height: 1.385;
  font-weight: 400;
  color: #ffffff;
}
/* Блоки, виджеты*/

.dropdown-search {
  width: 314px;
  height: 62px;
  margin-top: 11px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-login {
  width: 278px;
  height: 215px;
  margin-top: 10px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-login a {
  border-bottom: 1px solid;
  border-bottom-color: rgba(51, 51, 51, 0.3);
}

.dropdown-login a:hover {
  border-bottom: none;
}

.dropdown-basket {
  width: 540px;
  height: 243px;
  margin-top: 10px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: #f8f7f4;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.basket-row img  {
  border-radius: 18px;
}

.slide {
  margin-top: -115px;
  padding: 0;
  width: 1146px;
  height: 740px;
  background: url("../img/bg-slider.jpg") no-repeat #849d8f;
  text-align: center;
}

.title-slide {
  margin: 0 auto;
  padding-top: 390px;
  margin-bottom: 30px;
  font-size: 60px;
  font-weight: 700;
  line-height:1;
  color: #ffffff;
  text-align: center;
  width: 700px;
}

.vidget-raspberry {
  width: 520px;
  height: 189px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/bg-rasberry.jpg") no-repeat #872944;
}

.vidget-chocolate {
  width: 520px;
  height: 189px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/bg-chokolate.jpg") no-repeat #53302a;
}

.vidget-about {
  width: 1110px;
  height: 266px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/wafel-bg.png") #e9dec6;
}

.vidget-about .title{
  margin:0px;
  padding:0px;
}

.vidget-blog-title{
  width:310px;
}
.vidget-blog {
  width: 520px;
  height: 180px;
  padding: 20px;
  border-radius: 13px;
  background-position: left 100px;
  background-image: url("../img/bg-blog.jpg");
  background-repeat: no-repeat ;
  background-color: #ffffff;
  background-position: right bottom;
}

.vidget-subscription-border{
  width: 550px;
  height: 210px;
  padding: 5px;
  border-radius: 15px;
  background-image: url("../img/border-mail.svg");
}

.vidget-subscription {
  position: relative;
  width: 510px;
  height:170px;
  padding: 20px;
  background: #f8f7f4;
  border-radius: 10px
}

/* старый subcr
.vidget-subscription {
  width: 508px;
  height: 168px;
  padding: 20px;
  border-radius: 17px;
  background: #f8f7f4;
  border: 6px solid;
  border-image-source: url("../img/border-mail.svg");
  border-image-slice: 6;
}
*/

.catalog img{
  display: block;
  border-radius: 133px;
}

.popup {
  width: 478px;
  height: 442px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Кнопки */

.header-button {
  font: inherit;
  height: 32px;
  border: 0px;
  border-radius: 16px;
  padding-left:14px;
  padding-right:14px;
  background-color: rgba(248, 247, 244, 0.2);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.header-button:link,
.header-button:visited {
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.header-button:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #333333;
}

.header-button:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(248, 247, 244, 1);
  color: #333333;
}

.button-small {
  font: inherit;
  height: 46px;
  border: 0px;
  border-radius: 23px;
  padding-left:20px;
  padding-right:20px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.header-button:link,
.header-button:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.button-small:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 1);
}

.button-small:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
}


.button-big {
  font: inherit;
  height: 64px;
  border: 0px;
  border-radius: 62px;
  padding-left:42px;
  padding-right:42px;
  padding-top:14px;
  padding-bottom:14px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  font-size: 31px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  }

.button-big:link,
.button-big:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  }

.button-big:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
  }



.button-big:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
  }

footer {
   width: auto;
   height: 100px;
 }

 .map .vidget-contacts {
   width: 250px;
   height:242px;
   padding-left: 26px;
   padding-right:26px;
   padding-top:34px;
   padding-bottom: 30px;
   background-color: #ffffff;
   border-radius: 13px;
 }

.social img {
  opacity: 0.8;
  border: solid;
  border-radius: 18px;
  border-width: 3px;
  border-color: rgba(255, 255, 255, 0.5);
}


.footer-nav {
  margin:0px;
  padding: 0px;
}
.footer-link {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.footer-link:link,
.footer-link:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.footer-link:hover {
  color: #ffbc9e;
  border-bottom: none;
}

.footer-link:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}

/* Поля и другие UI */
.dots-navigation
{
  text-align: left;
}

.dots-navigation button {
  width: 20px;
  height: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 12px;
  border-color: #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.dots-navigation button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-color: #ffffff;
}

.dots-navigation button:active {
  background-color: #ffffff;
  border-color: #ffffff;
}

input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  height: 32px;
  padding-left: 14px;
}

  textarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-left: 14px;
}

/* Страница каталога */
.breadcrumbs {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
}

.breadcrumbs a{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.breadcrumbs a:hover {
  color: #ffbc9e;
  border-bottom: none;
}

.breadcrumbs a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}

.catalog-title {
  margin-left: 0px;
  text-align: left;
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.171;
}
/* почему-то не применяется margin:0*/
.filters{
  margin: 0px;
}

fieldset{
  margin: 0px;
}

.filters legend {
  padding-left: 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}
/* почему-то не применяется margin:0*/
.select{
  margin: 0px;
}
select {
  width: 194px;
  height: 36px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  padding-left: 10px;
}

select:hover {
  width: 194px;
  height: 36px;
  border-radius: 20px;
  background-color: #ffffff;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #333333;
  padding-left: 10px;
}

select option {
  color: #333333;
}

.range-conteiner {
  width: 220px;
  height: 36px;
  padding-left: 10px;
  vertical-align: middle;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.range-element {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 14px;
  background-color: #f8f7f4;
  display: inline-block;
}

.range-line {
    width: 176px;
    height: 4px;
    background-color: #ffffff;
}

.radio-conteiner{
  width: 415px;
  height: 28px;
  padding-left: 10px;
  padding-top:8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.checkbox-conteiner{
  width: 702px;
  height: 28px;
  padding-left: 10px;
  padding-top:8px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
}

.button-filter{
  height: 38px;
  border: solid;
  border-color: #ffffff;
  border-radius: 20px;
  padding-left:30px;
  padding-right:30px;
  background-color: rgba(255, 255, 255, 0.2);

  font: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color:#ffffff;
  }


.button-filter:hover {
  height: 38px;
  border: none;
  padding-left:30px;
  padding-right:30px;
  background-color: #f8f7f4;
  font: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #333333;
  }

.button-filter:active {
   background-color: #eaeaea;
   box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
   color: #333333;
}

  .paginator a{
    display: inline-block;
    width: 25px;
    height: 22px;
    padding-top:3px;
    font-weight: 400;
    text-align: center;
  }
  .paginator a:link,
  .paginator a:visited {
   color: #ffffff;
}

  .paginator a:active {
  border-radius: 14px;
  background-color: #ffffff;
  color: #333333;
}

  .paginator a:hover {
  border-radius: 14px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #ffffff;
}

.first-page {
  display: inline-block;
  width: 25px;
  height: 22px;
  padding-top:3px;
  background-color: #ffffff;
  border-radius: 14px;
  font-weight: 400;
  text-align: center;
  color: #333333;
}
