body {
  margin: 0;
  padding: 0;
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  background-color: #849D8F;
}

a {
  text-decoration: none;
}

ul {
  list-style-type:none;
}

/* Cтили текста */

h1 {
  font-size: 60px;
  font-weight: 700;
  line-height:1;
  color: #ffffff;
  text-align: center;
  width: 750px;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  line-height:1.17;
  color: #ffffff;
}

h3 {
  font-weight: 700;
  color: #ffffff;
  font-weight: bold;
  line-height: 1.375;
}

h4 {
  font-weight: 700;
  font-size: 1.25;
  color: #323232;
  text-align: left;
}

h5 {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.429;
  text-align: left;
  color: #323232;
}

.text {
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  color:#323232;
}

.text-dropdown{
  font-size: 13px;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
  color:#323232
}


.text-dropdown-ref {
  font-weight: 400;
  font-size: 13px;
  color: #999999;
  line-height: 1.143;
}

.main-menu .main-menu-links {
  display: inline-block;
  padding-left:14px;
  padding-right:14px;
  font-size: 14px;
  font-weight: 700;
}


.main-menu .main-menu-links:link,
.main-menu .main-menu-links:visited {
  vertical-align: middle;
  color: #ffffff;
  padding-left:14px;
  padding-right:14px;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.main-menu .main-menu-links:hover {
  line-height: 32px;
  border-radius: 16px;
  vertical-align: middle;
  background-color: #f7f6f3;

  color: #333333;
  border-bottom: none;
}

.main-menu .main-menu-links:active {
  line-height: 32px;
  border-radius: 16px;
  vertical-align: middle;
  background-color: #f7f6f3;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  color: #333333;
  border-bottom: none;
}
.dropdown-navigation {
  list-style: none;
}

.dropdown-navigation .dropdown-list {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.dropdown-navigation .dropdown-list:link,
 .dropdown-navigation .dropdown-list:visited
 {
  line-height: 30px;
  color: #323232;
}

.dropdown-navigation .dropdown-list:hover {
  line-height: 30px;
  color: #323232;
  background-color: #fbded7;
}

.dropdown-navigation .dropdown-list:active {
  line-height: 30px;
  color: #323232;
  background-color: #f6b5a5;
}

.catalog-item a {
  font-weight: 500;
  text-align: center;
}

.catalog-item a:link,
.catalog-item  a:visited {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}


.catalog-item  a:hover,
.catalog-item  a:active {
  color: #ffbc9e;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,188,158,0.2);
}


.time {
  font-size: 14px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.143;
  text-align: right;
}

.phone {
  font-size: 22px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.091;
  text-align: right;
}

.cost {
  font-size: 45px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.item-weight {
  font-size: 30px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.subtitle {
  font-size: 18px;
  color: #323232;
  font-weight: 400;
  line-height: 1.333;
  text-align: left;
}

.catalog-title {
  font-size: 35px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.171;
}

.filters {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.143;
}

.paginator:link {
  color: #ffffff;
  font-weight: 400;
}

.paginator:active {
  color: #323232;
  font-weight: 400;
}
.paginator:active {
  color: #323232;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: #ffffff;
}

.paginator:hover {
  color: #ffffff;
  font-weight: 400;
  width: 25px;
  height: 25px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
}

.footer {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
}

.vidgets p {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
  color: #ffffff;
}


.vidget-blog a:link,
.vidget-blog a:visited,
.vidget-blog a:hover,
.vidget-blog a:active {
  font-size: 24px;
  color: #323232;
  font-weight: 700;
  line-height: 1.25;
  text-align: left;
  text-decoration: underline;
}

.vidget .title-white {
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.222;
  text-align: left;
}

.vidget-subscription .text {
  color: #5a5a5a;
  font-weight: 400;
  line-height: 1.375;
  text-align: left;
}

.popup .title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}

.footer-link {
  font-size: 13px;
  line-height: 1.385;
  font-weight: 400;
}
.footer-link:link,
.footer-link:visited,
.footer-link:hover,
.footer-link:active {
  color: #ffffff;
  border-bottom: 1px solid;
  border-bottom-color: rgba(255,255,255,0.2);
}

.footer-text {
  font-size: 13px;
  line-height: 1.385;
  font-weight: 400;
  color: #ffffff;
}
/* Блоки, виджеты*/
fieldset {
  border: none;
}

.dropdown-catalog {
  width: 144px;
  height: 172px;
  margin-top: 10px;
  padding-left: 14px;
  padding-top: 10px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-search {
  width: 314px;
  height: 62px;
  margin-top: 11px;
  padding-top: 14px;
  padding-left: 6px;
  padding-right: 22px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-login {
  width: 278px;
  height: 215px;
  margin-top: 10px;
  padding: 14px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.dropdown-basket {
  width: 540px;
  height: 243px;
  margin-top: 10px;
  padding: 14px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}


.dropdown-form {
  display: inline-block;
  width: auto;
  height: auto;
  margin-top: 10px;
  padding: 14px;
  border-radius: 5px;
  background-color: rgb(248, 247, 244);
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

.section-slide {
  width: 1200px;
  height: 740px;
  background: url("../img/bg-slider.jpg") no-repeat #849d8f;
}


.vidget-raspberry {
  width: 520px;
  height: 189px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/bg-rasberry.jpg") no-repeat #872944;
}

.vidget-chocolate {
  width: 520px;
  height: 189px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/bg-chokolate.jpg") no-repeat #53302a;
}

.vidget-about {
  width: 1110px;
  height: 266px;
  padding: 20px;
  border-radius: 13px;
  background: url("../img/wafel-bg.png") #e9dec6;
}

.vidget-blog {
  width: 520px;
  height: 180px;
  padding: 20px;
  border-radius: 13px;
  background-position: left 100px;
  background: url("../img/bg-blog.jpg") #ffffff no-repeat ;
}

.vidget-subscription {
  width: 508px;
  height: 168px;
  padding: 20px;
  border-radius: 13px;
  background: #f8f7f4;
  border: 6px solid;
  border-image-source: url("../img/border-mail.svg");
  border-image-slice: 6;
}

.catalog img{
  display: block;
  border-radius: 133px;
}

.popup {
  width: 478px;
  height: 442px;
  border-radius: 10px;
  background-color: rgb(248, 247, 244);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Кнопки */

.header-button {
  font: inherit;
  height: 32px;
  border: 0px;
  border-radius: 16px;
  padding-left:14px;
  padding-right:14px;
  background-color: rgba(248, 247, 244, 0.2);
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.header-button:link,
.header-button:visited {
  background-color: rgba(248, 247, 244, 0.2);
  color: #ffffff;
}

.header-button:hover {
  background-color: rgba(248, 247, 244, 1);
  color: #333333;
}

.header-button:active {
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(248, 247, 244, 1);
  color: #333333;
}

.button-small {
  font: inherit;
  height: 46px;
  border: 0px;
  border-radius: 23px;
  padding-left:20px;
  padding-right:20px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  font-size: 18px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
}
.header-button:link,
.header-button:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
}

.button-small:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.button-small:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}


.button-big {
  font: inherit;
  height: 64px;
  border: 0px;
  border-radius: 62px;
  padding-left:42px;
  padding-right:42px;
  padding-top:14px;
  padding-bottom:14px;
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);

  font-size: 31px;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  }

.button-big:link,
.button-big:visited {
  background-image: -moz-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(202,56,36) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(85, 8, 0, 0.54);
  }

.button-big:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
  }

.button-big:active {
  background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
  }
footer {
   width: auto;
   height: 100px;
 }

 .map .vidget-contacts {
   width: 250px;
   height:242px;
   padding-left: 26px;
   padding-right:26px;
   padding-top:34px;
   padding-bottom: 30px;
   background-color: #ffffff;
   border-radius: 13px;
 }



/* Поля и другие UI */
input[type=text],
input[type=email],
input[type=password] {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  height: 32px;
  padding-left: 14px;
}

  textarea {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(211, 211, 210);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  padding-left: 14px;
}
